<div class="container-fluid bg_color" style="">
    <div class="row">
        <div class="col-12 ">
            <h1 class="collum">404</h1>
        </div>
        <div>
            <p style="font-size: 50px;">Page Not Found</p>
            <a class="paregraph" [routerLink]="['/']">Home</a>
        </div>
    </div>
</div>
<div class="container-fluid bg_color">
    <div class="row">
    <div class="col-12">
            <h1 style="color:black; font-size: 300px;">404</h1>
        </div>
    </div>
</div>
