.main_grid {
    width: 80%;
    float: right;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: #BEBEBE;
}

.table_heading {
    color: #03a9f4;
    width: 20%;
}


.table_row {
    border-bottom: 1px solid whitesmoke;
}

.table_div {
    width: 20%;
}

.remove_icon {
    color: #BEBEBE;
    font-size: 18px;
}

.remove_icon:hover {
    color: red;
    font-size: 18px;
}

.hr_row {
    border: 1px solid white;
    text-align: center;
    margin-top: -50px;
}

.button_button {
    width: 20%
}

.button_button:hover {
     box-shadow: 0 0 11px rgba(50,50,50,.3);
}
