<div class="container main_grid" style="margin-top: -5%;">
    <div class="heading">
        <h3> Cart :</h3>
    </div>

    <div class="cart_inner" style="margin-top: 5%;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="color: #03a9f4; width:20%; text-align: center;">Product</th>
                    <th scope="col" style="color: #03a9f4; width:30%; text-align: center;">Product Detail</th>
                    <th scope="col" style="color: #03a9f4; width:20%;text-align: center;">Price</th>
                    <th scope="col" style="color: #03a9f4; width:20%;text-align: center;">Quantity</th>
                    <th scope="col" style="color: #03a9f4; width:20%;text-align: center;">Total</th>
                </tr>

                </thead>

                <tbody *ngIf="showcart">
                <tr *ngFor="let product of products">

                    <td style=" width:20%; text-align: center;">
                        <p style="color: #7f7f7f; font-size: 13px;">{{product.item_name}} </p>
                        <img alt="" src="{{product.image}}" style="width: 70%;" height="70%"/>
                    </td>

                    <td style="width:30%; text-align: center;">
                        <p style="color:#8bc34a;">super cold-drink </p>
                    </td>

                    <td style="width:20%; text-align: center;">
                        <h5>{{product.final_price}}</h5>
                    </td>
                    <td style="width:20%; text-align: center;">
                        <input max="10" style="width:80px; text-align: center;" type="text" value="2">
                    </td>
                    <td style="width:20%; text-align: center;">
                        <h5>₹220.00</h5>
                    </td>
                </tr>
                <tr style=" border-top-style:solid; border-color: #DCDCDC ">
                    <td style=" width:20%;"></td>
                    <td style=" width:30%;"></td>
                    <td style=" width:20%;"></td>
                    <td style=" width:20%;">
                        <h4 style="width:100px;">Subtotal :</h4>
                    </td>
                    <td style=" width:20%;">
                        <h5>₹220.00</h5>
                    </td>
                </tr>
                </tbody>
            </table>
<div style="margin-top: 7%;">
            <div class="snipcart-details top_brand_home_details" style="width: 20%; float: right;" >
                <input class="button" name="submit" type="submit" value="Checkout">
            </div>
          <div class="snipcart-details top_brand_home_details" style="width: 20%; float: left;">
                <input [routerLink]="['/products']" class="button" name="submit" type="submit" value="Continue Shopping">
            </div>
</div>

        </div>
    </div>
</div>

<!--================End Cart Area =================-->
