<div class="container main grid">
    <div class="heading">
        <h1> checkout Cart</h1>
    </div>

    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="color: #03a9f4; width:20%;">Product</th>
                    <th scope="col" style="color: #03a9f4; width:30%;">Product Detail</th>
                    <th scope="col" style="color: #03a9f4; width:20%;">Price</th>
                    <th scope="col" style="color: #03a9f4; width:20%;">Quantity</th>
                    <th scope="col" style="color: #03a9f4; width:20%;">Total</th>
                </tr>
                </thead>
                <tbody>

                <tr>

                    <td style=" width:20%; ">
                        <img alt="" src="../../../assets/16.png"/>
                    </td>

                    <td style="width:30%;">
                        <p style="color:#8bc34a;">super cold-drink </p>
                    </td>

                    <td style="width:20%;">
                        <h5>₹110.00</h5>
                    </td>
                    <td style="width:20%;">
                        <input max="10" style="width:80px; text-align: center;" type="text" value="2">
                    </td>
                    <td style="width:20%;">
                        <h5>₹220.00</h5>
                    </td>
                </tr>

                <tr style=" border-top-style:solid; border-color: #DCDCDC ">
                    <td style=" width:20%;"></td>
                    <td style=" width:30%;"></td>
                    <td style=" width:20%;"></td>
                    <td style=" width:20%;">
                        <h4 style="width:100px;">Subtotal :</h4>
                    </td>
                    <td style=" width:20%;">
                        <h5>₹220.00</h5>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="snipcart-details top_brand_home_details" style="width: 20%; float: right;">
                <input class="button" name="submit" type="submit" value="Checkout">
            </div>
          <div class="snipcart-details top_brand_home_details" style="width: 20%; float: left;">
                <input [routerLink]="['/home/products']" class="button" name="submit" type="submit" value="Continue Shopping">
            </div>


        </div>
    </div>
</div>

<!--================End Cart Area =================-->
