.main_grid {
    width: 80%;
    float: right;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: #BEBEBE;
}

.table_row{
    border-bottom: 2px solid whitesmoke;
}



.input_quantity{
    width:50px;
    text-align: center;
   /*border-bottom: 1px solid whitesmoke;*/
    border: none;
    background: whitesmoke;
}

.minus_icon{
    color: #03A9F4;
    font-size: 18px;
}
.plus_icon{
    color: #8bc34a;
    font-size: 18px;
}
.remove_icon {
    color: #BEBEBE;
    font-size: 18px;
    float: right;
}

.remove_icon:hover {
    color: red;
    font-size: 18px;
}

.hr_row {
    border-top: 1px solid #acacac;
    width: 100%;
    text-align: center;
    margin-top: -22px;
}

.summary{
    color: #acacac;
}
.summary_count{
    color: #acacac;
    text-align: right;
}

.button_button {
    width: 20%
}

.button_button:hover {
     box-shadow: 0 0 11px rgba(50,50,50,.3);
}
