<div class="w3_login">
    <h2 style="margin-left: 45%">Sign In </h2>
    <!---728x90--->


    <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i>
        </div>

        <div class="form" style="display: block;">
            <h2>Create an account</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="submitform">
                <div class="form-field">
                    <input formControlName="name" placeholder="Full Name" required=" " type="text">
                    <input formControlName="username" placeholder="Username" required=" " type="text">
                    <input formControlName="email" placeholder="E-mail" required=" " type="email">
                    <input formControlName="number" placeholder="+91" required=" " type="text">
                    <input formControlName="password" placeholder="Password" required=" " type="password">
                    <input formControlName="confirm_password" placeholder="Confirm Password" required=" " type="password">
                    <input [disabled]="!submitform.valid" type="submit" value="Signup">
                </div>
            </form>
        </div>


        <div class="submit_btn">
            <input [routerLink]="['/home/login']"
                   style="background-color:#343434; font-size: 20px; height: 30px; padding: 0px;" type="submit"
                   value="Login">
        </div>
    </div>
</div>

