<div class="w3_login">
    <h2 style="margin-left: 45%">Sign In </h2>
    <!---728x90--->


        <div class="module form-module">
            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                <!--					<div class="tooltip">Click Me</div>-->
            </div>
            <div class="form" style="display: block;">
                <h2>Create an account</h2>
                <form>
                    <input name="name" placeholder="Full Name" required=" " type="text">
                    <input name="username" placeholder="Username" required=" " type="text">
                    <input name="email" placeholder="E-mail" required=" " type="email">
                    <input name="number" placeholder="+91" required=" " type="text">
                    <input name="Password" placeholder="Password" required=" " type="password">
                    <input type="submit" value="Signup">
                </form>
            </div>


            <div class="submit_btn">
               <input [routerLink]="['/home/login']" type="submit" value="Login" name="submit" style="background-color:#343434; font-size: 20px; height: 30px; padding: 0px;" >
                 </div>
        </div>
    </div>

