<div class="w3l_banner_nav_right" >

<!--    <div class="w3ls_w3l_banner_nav_right_grid">-->

<!--        <div class="w3ls_w3l_banner_nav_right_grid1">-->

            <div *ngFor="let product of products" class="col-md-3 w3ls_w3l_banner_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img alt=" " class="img-responsive" src="../../../assets/Products/offer.png">
                        </div>

                        <div class="agile_top_brand_left_grid1">

                            <form>
                                <div class="snipcart-item block form-field">
                                    <div class="snipcart-thumb" style="text-align: center;">
                                        <a>
                                            <img  src="{{product.image}}" style="height: 110px; width: 110px"></a>
                                        <p  style="color: #03a9f4; height:50px;">{{product.item_name}}</p>
                                        <h4>₹ <span> {{product.selling_price}}</span>
                                            <b style="color: #03a9f4;"> &nbsp; {{product.final_price}}</b>
                                        </h4>
                                    </div>
                                    <div class="snipcart-details">
                                        <input (click)="onSubmit(product.id)" class="button" name="submit" type="submit" value="Add to cart">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="hr_row"></div>
            </div>
<!--    </div>-->
<!--</div>-->
</div>
