


/* Product Dropdown*/

#select{

    width: 120px;
    height: 25px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center  ;
}

#select,.option{

    background-color: #ffffff;
    color: #03a9f4;

}

.hr_row{
    border:10px solid #ffffff;
}