
                    <!------------ Main banner---------- -->

<div class="w3l_banner_nav_right">
    <section class="slider">
      <div class="flexslider">

        <div class="flex-viewport" style="overflow: hidden; position: relative;">
          <ul class="slides" style="width: 100%; transition-duration: 0s; transform: translate3d(-3141px, 0px, 0px);">
            <li class="clone" style="width: 1047px; float: left; display: block;">
              <div class="w3l_banner_nav_right_banner2">
                <h3>upto <i>50%</i> off.</h3>
                <div class="more">
                  <a class="button--saqui button--round-l button--text-thick" data-text="Shop now"
                     href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Shop
                    now</a>
                </div>
              </div>
            </li>
            <li class="" style="width: 1047px; float: left; display: block;">
              <div class="w3l_banner_nav_right_banner1">
                <h3>Make your <span>food</span> with Spicy.</h3>
                <div class="more">
                  <a class="button--saqui button--round-l button--text-thick"
                     data-text="Shop now"
                     href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Shop
                    now</a>
                </div>
              </div>
            </li>
            <li class="flex-active-slide" style="width: 1047px; float: left; display: block;">
              <div class="w3l_banner_nav_right_banner2">
                <h3>upto <i>50%</i> off.</h3>
                <div class="more">
                  <a class="button--saqui button--round-l button--text-thick"
                     data-text="Shop now"
                     href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Shop
                    now</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ol class="flex-control-nav flex-control-paging">
          <li><a class="">1</a></li>
          <li><a class="">2</a></li>
          <li><a class="flex-active">3</a></li>
        </ol>
        <ul class="flex-direction-nav">
          <li><a class="flex-prev" href="">Previous</a></li>
          <li><a class="flex-next" href="">Next</a></li>
        </ul>
      </div>
    </section>
  </div>

                              <!-- End Main banner -->

  <div class="clearfix"></div>

                                  <!-- Secondary banner -->

<div class="banner_bottom">
  <div class="wthree_banner_bottom_left_grid_sub"></div>

  <div class="wthree_banner_bottom_left_grid_sub1">
    <div class="col-md-4 wthree_banner_bottom_left">

      <div class="wthree_banner_bottom_left_grid">

        <img alt=" " class="img-responsive" src="../../assets/Home/4.jpg">
        <div class="wthree_banner_bottom_left_grid_pos">
          <h4>Discount Offer <span>25%</span></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img alt=" " class="img-responsive" src="../../assets/Home/5.jpg">
        <div class="wthree_banner_btm_pos">
          <h3><span>Best store</span> for <i>groceries</i></h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img alt=" " class="img-responsive" src="../../assets/Home/6.jpg">
        <div class="wthree_banner_btm_pos1">
          <h3>Save <span>Upto</span> $10</h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<!---728x90--->
                            <!-- End Secondary banner -->

                              <!-- Hot-Offers -->

<div class="top-brands">
  <div class="container">
    <h3>Hot Offers</h3>
    <!---728x90--->
    <div class="agile_top_brands_grids">
      <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="tag">
              <img alt=" " class="img-responsive" src="../../assets/Home/tag.png"></div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/single.html">
                      <img alt=" " src="../../assets/Home/1.png" title=" "></a>
                    <p>fortune sunflower oil</p>
                    <h4>$<span>7.99</span> 10.00</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form method="post">
                      <fieldset>
                        <input name="cmd" type="hidden" value="_cart">
                        <input name="add" type="hidden" value="1">
                        <input name="business" type="hidden" value=" ">
                        <input name="item_name" type="hidden" value="Fortune Sunflower Oil">
                        <input name="amount" type="hidden" value="7.99">
                        <input name="discount_amount" type="hidden" value="1.00">
                        <input name="currency_code" type="hidden" value="USD">
                        <input name="return" type="hidden" value=" ">
                        <input name="cancel_return" type="hidden" value=" ">
                        <input class="button" name="submit" type="submit" value="Add to cart">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/single.html"><img
                      alt=" " src="../../assets/Home/3.png" title=" "></a>
                    <p>basmati rise (5 Kg)</p>
                    <h4> $<span>15.00</span> 11.99</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form  method="post">
                      <fieldset>
                        <input name="cmd" type="hidden" value="_cart">
                        <input name="add" type="hidden" value="1">
                        <input name="business" type="hidden" value=" ">
                        <input name="item_name" type="hidden" value="basmati rise">
                        <input name="amount" type="hidden" value="11.99">
                        <input name="discount_amount" type="hidden" value="1.00">
                        <input name="currency_code" type="hidden" value="USD">
                        <input name="return" type="hidden" value=" ">
                        <input name="cancel_return" type="hidden" value=" ">
                        <input class="button" name="submit" type="submit" value="Add to cart">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img alt=" " class="img-responsive" src="../../assets/Home/offer.png">
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/single.html"><img
                      alt=" " class="img-responsive" src="../../assets/Home/2.png"></a>
                    <p>Pepsi soft drink (2 Ltr)</p>
                    <h4>$<span>8.00</span> 10.00</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input name="cmd" type="hidden" value="_cart">
                        <input name="add" type="hidden" value="1">
                        <input name="business" type="hidden" value=" ">
                        <input name="item_name" type="hidden" value="Pepsi soft drink">
                        <input name="amount" type="hidden" value="8.00">
                        <input name="discount_amount" type="hidden" value="1.00">
                        <input name="currency_code" type="hidden" value="USD">
                        <input name="return" type="hidden" value=" ">
                        <input name="cancel_return" type="hidden" value=" ">
                        <input class="button" name="submit" type="submit" value="Add to cart">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img alt=" " class="img-responsive" src="../../assets/Home/offer.png">
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/single.html"><img
                      alt=" " class="img-responsive" src="../../assets/Home/4.png"></a>
                    <p>dogs food (4 Kg)</p>
                    <h4>$<span>9.00</span> 11.00</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input name="cmd" type="hidden" value="_cart">
                        <input name="add" type="hidden" value="1">
                        <input name="business" type="hidden" value=" ">
                        <input name="item_name" type="hidden" value="dogs food">
                        <input name="amount" type="hidden" value="9.00">
                        <input name="discount_amount" type="hidden" value="1.00">
                        <input name="currency_code" type="hidden" value="USD">
                        <input name="return" type="hidden" value=" ">
                        <input name="cancel_return" type="hidden" value=" ">
                        <input class="button" name="submit" type="submit" value="Add to cart">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

                                <!-- //Hot Offer- -->


                              <!-- fresh-vegetables -->
<div class="fresh-vegetables">
  <div class="container">
    <h3>Top Products</h3>
    <div class="w3l_fresh_vegetables_grids">
      <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
        <div class="w3l_fresh_vegetables_grid2">
          <ul>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">All
              Brands</a></li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/vegetables.html">Vegetables</a>
            </li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/vegetables.html">Fruits</a>
            </li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/drinks.html">Juices</a>
            </li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/pet.html">Pet
              Food</a></li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/bread.html">Bread
              &amp; Bakery</a></li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/household.html">Cleaning</a>
            </li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Spices</a>
            </li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Dry
              Fruits</a></li>
            <li><i aria-hidden="true" class="fa fa-check"></i><a
              href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Dairy
              Products</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 w3l_fresh_vegetables_grid_right">
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <img alt=" " class="img-responsive" src="../../assets/Home/8.jpg">
          </div>
        </div>
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <div class="w3l_fresh_vegetables_grid1_rel">
              <img alt=" " class="img-responsive" src="../../assets/Home/7.jpg">
              <div class="w3l_fresh_vegetables_grid1_rel_pos">
                <div class="more m1">
                  <a class="button--saqui button--round-l button--text-thick"
                     data-text="Shop now"
                     href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Shop
                    now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w3l_fresh_vegetables_grid1_bottom">
            <img alt=" " class="img-responsive" src="../../assets/Home/10.jpg">
            <div class="w3l_fresh_vegetables_grid1_bottom_pos">
              <h5>Special Offers</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <img alt=" " class="img-responsive" src="../../assets/Home/9.jpg">
          </div>
          <div class="w3l_fresh_vegetables_grid1_bottom">
            <img alt=" " class="img-responsive" src="../../assets/Home/11.jpg">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="agileinfo_move_text">
          <div class="agileinfo_marquee">
            <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
          </div>
          <div class="agileinfo_breaking_news">
            <span> </span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
                                <!-- //fresh-vegetables -->


                              <!-- newsletter -->
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form method="post">
        <input name="Email" onblur="if (this.value == '') {this.value = 'Email';}" onfocus="this.value = '';"
               required="" type="email" value="Email">
        <input type="submit" value="subscribe now">
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

                            <!-- //newsletter -->

                              <!-- footer -->
<div class="footer">
  <div class="container">
    <div class="col-md-3 w3_footer_grid">
      <h3>information</h3>
      <ul class="w3_footer_grid_list">
        <li>
          <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/events.html">Events</a>
        </li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/about.html">About
          Us</a></li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Best
          Deals</a></li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/services.html">Services</a>
        </li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/short-codes.html">Short
          Codes</a></li>
      </ul>
    </div>


    <div class="col-md-3 w3_footer_grid">
      <h3>policy info</h3>
      <ul class="w3_footer_grid_list">
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/faqs.html">FAQ</a>
        </li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/privacy.html">privacy
          policy</a></li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/privacy.html">terms of
          use</a></li>
      </ul>
    </div>

    <div class="col-md-3 w3_footer_grid">
      <h3>what in stores</h3>
      <ul class="w3_footer_grid_list">
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/pet.html">Pet Food</a>
        </li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/frozen.html">Frozen
          Snacks</a></li>
        <li>
          <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/kitchen.html">Kitchen</a>
        </li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/products.html">Branded
          Foods</a></li>
        <li><a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/household.html">Households</a>
        </li>
      </ul>
    </div>

    <!--    <div class="col-md-3 w3_footer_grid">-->
    <div class="agile_footer_grids">
      <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
        <div class="w3_footer_grid_bottom">
          <h4>100% secure payments</h4>
          <img alt=" " class="img-responsive" src="../../assets/Home/card.png">
        </div>
      </div>

    </div>
  </div>
</div>
                              <!-- //footer -->
