<div class="w3l_banner_nav_right">
  <!-- services -->
  <div class="services">
    <h3>Our Services</h3>
    <div class="w3ls_service_grids">
      <div class="col-md-5 w3ls_service_grid_left">
        <h4>cum soluta nobis est</h4>
        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
          voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
          repellat.</p>
      </div>
      <div class="col-md-7 w3ls_service_grid_right">
        <div class="col-md-4 w3ls_service_grid_right_1">
          <img alt=" " class="img-responsive" src="../../../assets/Ourservices/18.jpg">
        </div>
        <div class="col-md-4 w3ls_service_grid_right_1">
          <img alt=" " class="img-responsive" src="../../../assets/Ourservices/19.jpg">
        </div>
        <div class="col-md-4 w3ls_service_grid_right_1">
          <img alt=" " class="img-responsive" src="../../../assets/Ourservices/20.jpg">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!---728x90--->

    <div class="w3ls_service_grids1">
      <div class="col-md-6 w3ls_service_grids1_left">
        <img alt=" " class="img-responsive" src="../../../assets/Ourservices/4.jpg">
      </div>
      <div class="col-md-6 w3ls_service_grids1_right">
        <ul>
          <li><i aria-hidden="true" class="fa fa-long-arrow-right"></i>et voluptates repudiandae sint et molestiae</li>
          <li><i aria-hidden="true" class="fa fa-long-arrow-right"></i>rerum necessitatibus saepe eveniet ut</li>
          <li><i aria-hidden="true" class="fa fa-long-arrow-right"></i>placeat facere possimus, omnis voluptas</li>
          <li><i aria-hidden="true" class="fa fa-long-arrow-right"></i>Et harum quidem rerum facilis est et expedita
          </li>
          <li><i aria-hidden="true" class="fa fa-long-arrow-right"></i>similique sunt in culpa qui officia deserunt</li>
          <li><i aria-hidden="true" class="fa fa-long-arrow-right"></i>odio dignissimos ducimus qui blanditiis</li>
        </ul>
        <a href="https://p.w3layouts.com/demos/july-2016/07-07-2016/grocery_store/web/single.html">Shop Now</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- //services -->
</div>
<div class="clearfix"></div>

<!-- services-bottom -->
<div class="services-bottom">
  <div class="container">
    <div class="col-md-3 about_counter_left">
      <i aria-hidden="true" class="glyphicon glyphicon-user"></i>
      <p class="counter">89,147</p>
      <h3>Followers</h3>
    </div>
    <div class="col-md-3 about_counter_left">
      <i aria-hidden="true" class="glyphicon glyphicon-piggy-bank"></i>
      <p class="counter">54,598</p>
      <h3>Savings</h3>
    </div>
    <div class="col-md-3 about_counter_left">
      <i aria-hidden="true" class="glyphicon glyphicon-export"></i>
      <p class="counter">83,983</p>
      <h3>Support</h3>
    </div>
    <div class="col-md-3 about_counter_left">
      <i aria-hidden="true" class="glyphicon glyphicon-bullhorn"></i>
      <p class="counter">45,894</p>
      <h3>Popularity</h3>
    </div>
    <div class="clearfix"></div>

  </div>
</div>
<!-- //services-bottom -->
<!-- newsletter-top-serv-btm -->
<div class="newsletter-top-serv-btm">
  <div class="container">
    <div class="col-md-4 wthree_news_top_serv_btm_grid">
      <div class="wthree_news_top_serv_btm_grid_icon">
        <i aria-hidden="true" class="fa fa-shopping-cart"></i>
      </div>
      <h3>Nam libero tempore</h3>
      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
        saepe eveniet ut et voluptates repudiandae sint et.</p>
    </div>
    <div class="col-md-4 wthree_news_top_serv_btm_grid">
      <div class="wthree_news_top_serv_btm_grid_icon">
        <i aria-hidden="true" class="fa fa-bar-chart"></i>
      </div>
      <h3>officiis debitis aut rerum</h3>
      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
        saepe eveniet ut et voluptates repudiandae sint et.</p>
    </div>
    <div class="col-md-4 wthree_news_top_serv_btm_grid">
      <div class="wthree_news_top_serv_btm_grid_icon">
        <i aria-hidden="true" class="fa fa-truck"></i>
      </div>
      <h3>eveniet ut et voluptates</h3>
      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
        saepe eveniet ut et voluptates repudiandae sint et.</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //newsletter-top-serv-btm -->
