<div class="container main_grid" >
    <div class="heading">
        <h3> Orders History & Status</h3>
    </div>

    <div *ngIf="showcart" class="cart_inner" style="margin-top: 3%;">
        <div *ngIf="isloggedin" class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="table_heading" >Order Id</th>
                    <th scope="col" class="table_heading">Order</th>
                    <th scope="col" class="table_heading">Status</th>
                    <th scope="col" class="table_heading">Price</th>
                    <th scope="col" class="table_heading">Quantity</th>
                    <th scope="col" class="table_heading">Total</th>
                </tr>

                </thead>

                <tbody>
                <tr *ngFor="let product of products" class="table_row" >
                    <td class="table_div">
                        <p> 01 </p>
                    </td>
                    <td class="table_div">
                        <p> {{product.product.item_name}} </p>
                    </td>

                    <td class="table_div">
                        <p>order.status</p>
                    </td>

                    <td class="table_div">
                        <p>{{product.product.selling_price}}</p>
                    </td>
                    <td class="table_div">
                         <p>{{product.quantity}}</p>
                    </td>
                    <td class="table_div">
                        <p>{{product.total_price}}</p>
                    </td>
                </tr>


<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table_row">-->
<!--                    <td class="table_div">-->
<!--                        <p> 01 </p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p> sprite </p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>Pending</p>-->
<!--                    </td>-->

<!--                    <td class="table_div">-->
<!--                        <p>₹110.00</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                         <p>2</p>-->
<!--                    </td>-->
<!--                    <td class="table_div">-->
<!--                        <p>₹220.00</p>-->
<!--                    </td>-->
<!--                </tr>-->
                </tbody>
            </table>


        </div>
    </div>
</div>
