
<div class="w3_login">
		<h2 style="margin-left: 45%">Sign In </h2>
<!---728x90--->

			<div class="w3_login_module">
				<div class="module form-module">
				  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
<!--					<div class="tooltip">Click Me</div>-->
				  </div>
				  <div class="form" style="display: block;">
					<h2>Login to your account</h2>
					<form>
					  <input type="text" name="Username" placeholder="Username" required=" ">
					  <input type="password" name="Password" placeholder="Password" required=" ">
					  <input type="submit" value="Login">
					</form>
				  </div>

				  <div class="cta"><a>Forgot your password?</a></div>
				</div>
			</div>

		</div>