/* You can add global styles to this file, and also import other style files */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;


}

.company_logo {

    /*background: url('../../assets/logo.png');*/
    width: 245px;
    height: 60px;
    display: flex;
    background: no-repeat;
    background-color: white;
}


.search_bar {
    border-radius: 5px;
    margin-top: 8px;
    /*width: 100%;*/
}

.search_icon {
    margin-top: 20px;
    margin-left: -30px;
    color: #9d9d9d;
}

.cart_bar {
    /*border-radius: 2px;*/
    /*border: 1px solid #8bc34a;*/
    /*background-color: #1e1e1e;*/
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 18px;
    text-align: center;
    cursor: pointer;
}

.cart_a {
    color: #ffffff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
}


.log_out {
    font-size: 20px;
    border: #8bc34a;
    color: white;
    margin-top: 20px;
    margin-left: -20px;
}

.log_out:hover{
    font-size: 25px;

}

/*side menu*/


.submenu_submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

/*Aside dropDown menu*/

.dropbtn {
    color: #333333;
    width: 244px;
    height: 50px;
    padding: 10px;
    font-size: 13px;
    border: none;
    border-bottom: 2px dotted #d0e9c6;
}

.dropbtn:hover {
    background-color: #84C639;
    color: white;
    width: 245px;

}

.dropdown {
    position: relative;
    display: inline-block;

}


.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    min-width: 245px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    text-align: right;
    display: block;
    height: 30px;
    padding: 0px;
    color: #03a9f4;


}

.dropdown-content a {
    color: #84C639;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #03a9f4;
    font-weight: bold;


}




/* End Aside dropDown menu*/


.select_select {
    background-color: #8bc34a;
    color: white;
    margin-top: 15px;
    font-size: 15px;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    border: none;
}

.option {
    background-color: white;
    color: #03A9F4;
    text-align: center;
}

/*select option*/

.drop {
    background-color: #84C639;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;

}


.down {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.down-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.down a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
