<!-- header -->
<div class="agileits_header fixed" >

    <div class="w3l_header">
        <a class="home_icon" [routerLink]="['/']"><i class="fa fa-home"></i></a>
    </div>

    <div class="down w3l_select" >
        <button class="drop" onclick="myFunction1()">{{selectedCity}} <span class="caret"></span></button>
        <div class="down-content" id="myDropdown1">
            <a (click)="onChangeCity('Indore')">Indore</a>
            <a (click)="onChangeCity('Dewas')">Dewas</a>
            <a (click)="onChangeCity('Ujjain')">Ujjain</a>
        </div>
    </div>

    <div class="w3l_header offer" style="margin-top: 16px; width: 150px;">
        <a [routerLink]="['/products']" style=" border-radius: 5px;"
           title="Click Now for Get Offer "> Special Offers !</a>
    </div>

    <div class="w3l_header" style="margin-top: 16px; width: 150px;">
        <a [routerLink]="['/order_history']" style=" border-radius: 5px;"> Order History</a>
    </div>

    <div class="w3l_search" style="  margin-left: 1px;" >
        <form>
            <input class="search_bar" name="Product" placeholder="Search Products...." type="text">
            <i class="fa fa-search search_icon"></i>
        </form>
    </div>

    <div class="w3l_header cart_bar" style="margin-left: -40px;">
                <a [routerLink]="['/cart']" class="cart_a" type="hidden">View Cart&nbsp;
                <i aria-hidden="true" class="fa fa-shopping-cart" style="font-size: 20px;"></i></a>
    </div>

<!--    <div  class="" style="width: 2px; height:30px; background: red;"></div>-->

    <div class="w3l_header_right" style="margin-top: 5px; height:50px;
      border-left: 1px solid white; ">
        <ul>
            <li class="dropdown profile_details_drop">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i aria-hidden="true" class="fa fa-user" style="font-size: 20px">&nbsp;</i><span
                        class="caret"></span>
                </a>
                <div class="mega-dropdown-menu">
                    <div class="w3ls_vegetables">
                        <ul class="dropdown-menu drp-mnu">
                            <li><a [routerLink]="['/login']">Login</a></li>
                            <li><a [routerLink]="['/signup']">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="w3l_header_right" style="margin-left: -50px; margin-top: 17px; width: 15%; height: 30px;">
        <b style="color: white; font-size: 12px;">{{user}}</b>
    </div>
    <div class="w3l_header_right logout_div" (click)="userLogout()" style=" ">
        <i  class="fa fa-power-off log_icon" title="log out "></i>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>


<!-- Aside Menu -->
<div class="Aside" style="margin-top: 6%;">

    <div class="w3l_banner_nav_left" style=" position: fixed; height: 100%;">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button class="navbar-toggle collapsed navbar-toggle1" data-target="#bs-megadropdown-tabs"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav nav_1">
                    <li *ngFor="let category of categories" class="dropdown">
                        <a class="dropbtn">{{category.title}}</a>

                        <div class="dropdown-content">
                            <a *ngFor="let subcategory of category.sub_categories"
                               [queryParams]="{ category:subcategory.id }"
                               [routerLink]="['/products']">{{subcategory.title}}</a>

                        </div>

                    </li>


                </ul>

            </div>

        </nav>
        <!-- ---Aside End------>
    </div>


</div>
<!---728x90--->


<router-outlet></router-outlet>
